.category-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.category-container header {
    display: flex;
    align-items: center;
}

.category-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.category-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.category-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.category-container header button:hover {
    border-color: #999999;
}

.category-container h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 24px;
}

.category-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.category-container ul li {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 24px;
}

.category-container ul li strong {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #41414d;
}

.category-container ul li a {
    text-decoration: none;
}